@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: brown;
    font-family: 'Roboto Mono', monospace;
}
/* Css del Home */
.home{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
}
.pokedex{
    background-color: #E74C3C;
    width: 320px    ;
    max-width: 400px;
    padding: 20px;
    border: 0.5px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.header_pokedex{
    display: flex;
    gap: 10px;
}
.circle{
    border: 0.5px solid black;
    box-shadow: -2px 2px 0px 0px #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.big {
    width: 70px;
    height: 70px;
    background-color: aqua;
    
}
.small{
    width: 25px;
    height: 25px;
}
.red{
    background-color: crimson;
}
.yellow{
    background-color: darkorange;
}
.green{
    background-color: chartreuse;
}
@media (max-width: 600px) {
    .big {
    width: 40px;
    height: 40px;
    background-color: aqua;
    }
    .small{
    width: 12px;
    height: 12px;
    }
}
.border_screen{
    margin: 10px auto;
    padding: 10px;
    border: 0.5px solid black;
    background-color: #C9AAA6;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.screen_pokedex{
    padding: 20px;
    margin: 10px auto;
    width: 95%;
    background-color: #fff;
    border: 0.5px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.pokemon{
    width:200px;
}
.form_user{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input_text{
    background-color: aquamarine;
    border: 0.5px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.btn_start{
    height: 26px;
    width: 50px;
    font-size: 10px;
    margin-left: 5px;
    background-color: firebrick;
    border: 0.5px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* Css del Layout  */
.layout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.title_layout{
    font-size: 50px;
    color:#fff;
}
.btn_logout{
    height: 30px;
    width: 100px;
    background-color: cornflowerblue;
    border: 0.5px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* Fix para diseño responsive */
@media (max-width: 600px) {
    .big {
    width: 40px;
    height: 40px;
    background-color: aqua;
    }
    .small{
    width: 12px;
    height: 12px;
    }
    .title_layout{
    font-size: 25px;
    }
    .btn_logout{
    height: 30px;
    width: 50px;
    font-size: 10px;
    }
    .form_pokemon{
        font-size: 16px;
    }
}
/* Css de Pokedex */
.greeting{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}
.greeting > span{
    color: #3cb4e7;
}
.form_pokemon{
   display: flex;
   justify-content: center;
   gap: 5px;
}
.input_pokemon_name{
    background-color:aquamarine;
    width: 150px;
    padding-left: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.input_pokemon_type{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.btn_search{
    width: 30px;
    background-color: firebrick;
    border: 0.5px solid black;
    border-radius: 5px;
}
.list_pokemons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    background-color: beige;
    margin: 10px 20px;
    padding: 20px 0px;
    z-index: -2;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.pagination{
    margin: 20px 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
.actual_pagination{
    color:red;
    border: 0.5px solid black;
    width: 25px;
    border-radius: 50%;
}
.button_pagination{
    border: 0.5px solid black;
    width: 25px;
    color: #FFF;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* Css Pokemon Card */
.pokemon_card{
    position: relative;
    cursor: pointer;
    max-width: 300px;
    border-radius: 4px;
    color: #000;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    background-color: #FFF;
    border: 1px solid black;
}
.pokemon_card::before {
    content: '';
    background: radial-gradient(black 33%, transparent 33%);
    background-size: 3px 3px;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
}
.pokemon_img_container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 200px;
    margin: 10px auto;
}
.pokemon_stats{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
    font-size: 18px;
}
.pokemon_img{
    width: 180px;
    border-radius: 50%;
}

/* Css PokemonDetail */
.container_details{
    position: relative;
    background-color: beige;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.container_details::before {
    content: '';
    background: radial-gradient(black 33%, transparent 33%);
    background-size: 3px 3px;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
}
.pokemon_stats_details{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
    font-size: 18px;
    margin-bottom: 100px;
}
.pokemon_stats_detail{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
    font-size: 18px;
}